.statListTitle {
    font-size: large;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px 50px;
    margin: auto;
    width: 200px;
    border: solid 1px black;
}
.statList {
    display: flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0px;
    margin: auto;
}
